</br></br></br></br></br></br></br>
<div class="row">
	<div class="large-9 small-centered columns">
<center>
<h1 class="title-prebooking">New Movie</h1>
<hr>

</div></div>
</center>
<%= render 'form' %>
