</br></br></br></br></br></br></br>
<div class="row">
	<div class="small-11 small-centered columns">
<center>
<h1>Seating</h1>
<hr>

</div></div>
</center>
<%= render 'form' %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>