<div class="row">
   <div class="large-12 columns">

   <br>

   </div>
 </div>
 
	<div class="row">
		<div class="large-6 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Madhourima Datta</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-6 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Sarah Mustafa</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

   <div class="large-6 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Jaasim Polin</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-6 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Shamma Al Hetmi</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
	
    </div></div>
	
    </div>