<!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
 
        <h3><a href="#">Customer Reward System</a></h3>
        <h6>This system is still under development.</h6>


 
    <!-- End Main Content -->