<!DOCTYPE>

<head>
  <script src="http://foundation.zurb.com/docs/assets/vendor/custom.modernizr.js" type=
  "text/javascript">
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

  <title>Tickety</title>
</head>

<body>
  <div class="row">
    <div class="large-6 small-centered columns"><img src="assets/Tickety2.jpg" /></div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <center>
          <h4>New Releases!</h4>
        </center>

        <ul id="featured1" data-orbit="">
          <li><div class="banner">
	<img src= "http://1.bp.blogspot.com/-rg9wpXhFQPs/USh_env0PQI/AAAAAAAAAIo/NHWayNd5voE/s1600/beautifulcreatures2013.jpeg" />
	</div><div class="orbit-caption">Beautiful Creatures</div></li>

          <li><div class="banner">
	<img src="http://www.filmofilia.com/wp-content/uploads/2013/03/The-Great-Gatsby-Opening-Cannes.jpg" />
	</div>
	<div class="orbit-caption">The Great Gatsby</div></li>
	
	<li><div class="banner">
<img src="http://www.hdwallpapers.in/walls/the_croods_2013-wide.jpg" />
</div>
<div class="orbit-caption">The Croods</div></li>
	
	
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <div class="row">
          <div class="large-6 small-centered columns">
            <center>
              <h4>Search</h4>
            </center>

            <div class="row collapse">
              <div class="small-10 columns">
<%= form_for(@movies) do |f| %>
<%= f.label :movie_title %>
<%= f.text_field :movie_title, data: {autocomplete_source: Movie.order(:title).map(&:title)} %>
<center>
	<input type="Search" value="Submit" class="button"> 
	</center>
<% end %>
                <input type="text" placeholder=
                "movie title, cinema name, movie genre..." />
              </div>

              <div class="small-2 columns">
                <a href="/newreleases" class="button prefix">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><script type="text/javascript">
//<![CDATA[

          // Google Analytics
          var _gaq = _gaq || [];
          _gaq.push(
            ['_setAccount', 'UA-2195009-2'],
            ['_trackPageview'],
            ['b._setAccount', 'UA-2195009-27'],
            ['b._trackPageview']
          );

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

          document.write('<script src="http://foundation.zurb.com/docs/assets/vendor/'
            + ('__proto__' in {} ? 'zepto' : 'jquery')
            + '.js"><\/script>');
    //]]>
    </script> <script src="http://foundation.zurb.com/docs/assets/docs.js" type=
    "text/javascript">
</script> <script type="text/javascript">
//<![CDATA[
          $(document).foundation()
                     .foundation('joyride', 'start');
    //]]>
    </script>
  </div>
</body>
</html>
