<!DOCTYPE>
<head>
  <title>Tickety</title>
</head>

<body>
  <div class="row">
    <div class="large-12 columns" role="content">
      <h3>Tickety Policies</h3>

      <h6>Written by Tickety Legal Team on March 1, 2013.</h6>

      <div class="row">
        <div class="large-12 columns">
          <br />

          <div class="panel">
            <p>1. A customer can print his/her purchased ticket or show it digitally
            (smartphones, ipads etc). Each ticket will be identified by a unique bar
            code.</p><br />

            <p>2. A customer will be able to purchase a ticket up until 15 minutes after
            a movie&rsquo; specified show time. Booking of that show through our system,
            Tickety, will then be closed 15 minutes after the movies designated show
            time.</p><br />

            <p>3. Customers are allowed to book a ticket one week in advance of the
            designated movie show timing. Note: The movie must be available on the
            specified booking date.</p><br />

            <p>4. No refunds and no cancellations are allowed on any movie ticket
            purchase through Tickety. If a customer does not show up for a movie show
            he/she purchased a ticket for, he/she will not be able to substitute the
            ticket for a later show and the ticket will be considered invalid.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>