<!DOCTYPE>
<head>
  <title>Tickety</title>
</head>

<body>
  <div class="row">
    <div class="small-11 small-centered columns">
      <div class="panel">
        <center>
          <h3>Movie Name</h3>
          <hr />
        </center>

        <div class="row">
          <div class="small-2 large-4 columns"></div>
          <div class="small-2 large-4 columns">
              <h4>Movie Time</h4><br />
              <h4>Theatre Number</h4><br />
              <h4>Cinema Name</h4><br />
              <h4>QR 35</h4><br />
          </div>

          <div class="small-6 large-4 columns">
            <div class="QR"><img src=
            "http://farm4.static.flickr.com/3514/4011063078_ebb3af554d_o.jpg" /></div>
          </div>
        </div>
</div>
        <center>
		<a href="javascript:window.print()" class="large button">Print</a>
        </center>
      
    </div>
  </div>
</body>
</html>