<!-- Main Page Content and Sidebar -->

<div class="row">

  <!-- Contact Details -->
  <div class="large-12 columns">

    <h3>What is Tickety?</h3>
</br>
    <p>Our online E-Ticket System (ETS) is a web-based system. The customers can buy ticket online
	and cancel the seat at a suitable time (2 days before the show to 1hour before the show). To
	enhance the refund function, all the customers have to registration become a member before
	buying ticket.</p>
	<p>
	Our vision is to provide an online ticket booking service for Cinemas in Qatar. While improving customer satisfaction, a potential growth in the entertainment industry will be achieved.</em>.</p>

    <div class="section-container tabs" data-section>
      <section class="section">

      </section>
      
    </div>
  </div>

