</br></br></br></br></br></br></br></br>
<div class="row">
	<div class="small-11 small-centered columns">
<center>
<h1 class="title-prebooking">Pay Here</h1>
<hr>

</div></div>
</center>
<%= render 'form' %>
