</br></br></br></br></br></br></br></br>
<div class="row">
	<div class="large-9 small-centered columns">
<center>
<h1 class="title-prebooking">Show Theater</h1>
<hr>

</div></div>
<center>
<div class="row">
<div class="large-9 small-centered columns">
<p id="notice"><%= notice %></p>
<div class="panel">
<p>
  <b>Cinema:</b>
  <%= @theater.cinema.name %>
</p>

<p>
  <b>Theater number:</b>
  <%= @theater.theater_number %>
</p></br>

</div>
</div>
</div>
</center>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>