</br></br></br></br></br></br></br></br>
<div class="row">
	<div class="large-9 small-centered columns">
<center>
<h1 class="title-prebooking">Show Information</h1>
<hr>

</div></div>
</center>
<center>
<div class="row">
<div class="large-9 small-centered columns">
	<div class="panel">
<p id="notice"><%= notice %></p>

<p class="prebooking-intro">
  <b>Cinema:</b><br/>
  <%= @cinema.name %>
</p>

<p class="prebooking-intro">
  <b>Location:</b><br/>
  <%= @cinema.location %>
</p>
<br/>
</div>
</div>
</div>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</center>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>