<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; S. Al Hetmi, M. Datta, S. Mustafa, J. Polin. </p>
      </div>
    </div>
  </div>
</footer>

<!-- End Footer -->